#rootDiv{
  /* remove comment from bgc and color to add dark theme */
  /* background-color: rgb(19, 17, 17); */ 
  /* color: azure; */
  height: 200vh;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

#topNavigation{
  width: 100%;
  height: 100px;
  background-color: rgb(15, 12, 12);
  z-index: 999;
  position: fixed;
  
}

#topNavigationText{
  width: 90%;
  color: white;
  height: 60%;
  margin-top: 30px;
  text-align: end;
}
#topNavigation ul {
  margin-top: 20px; 
}

#topNavigation ul li{
  list-style: none;
  display: inline;
  padding-right: 20px;
  cursor: pointer;
  font-weight: 600;
}

#topNavigation ul li:hover{
  color: rgb(226, 45, 45);
}

.blankSpace{
  height: 100px;
}

.introDiv{
  top: 60px;
  /* background-color: rgb(173, 19, 19); */
  justify-items: end;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.centerImg{
  margin-top: 10px;
  width: 100%;
  height: 600px;
}

.headerText{
  font-size: 60px;
}
.redText{
  color: rgb(226, 45, 45) ;
}

.headerPara{
  font-size: 20px;
}

.servicesDiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin: 0px 20px;
}

.serviceItem{
  height: 300px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.serviceItem:nth-child(odd){
  background-color: rgb(19, 17, 17);
  color: azure;
}

.serviceItem:nth-child(even){
  background-color: rgb(226, 45, 45);
  color: azure;
}

